In [1]:
#1.Find the error in the following Python code:
import math
print(math.sqrt(16))
#M is not allowed

4.0

In [9]:
#2.Find the error in the following Python code:
#x = 10
def my_function():
    global x
    x += 5
    print(x)

x=10
my_function()
#x is local scope not accessible outside function so make global

15

In [5]:
#3.
x = 5
if x == 10:
    print("x is 10")
#assignment opeartor ==  not "="

x is 10

In [2]:
#4.
numbers = [5, 3, 8, 2]
print(sorted(numbers))
#inside print statement use sorted () instead of sort

[2, 3, 5, 8]

In [3]:
#5.
def square(n):
     return n * n

print(square(4))

#return is missing

16

In [5]:
#6.
my_tuple = (1, 2, 3)
#my_tuple[1] = 5
print(my_tuple)
#'tuple' object does not support item assignment
#best way is covert to list ,update the value ,then again to tuple 
tuple_list=list(my_tuple)
tuple_list[1]=5
new_tuple=tuple(tuple_list)
print(new_tuple)

(1, 2, 3)
(1, 5, 3)

In [10]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name,age))
#print(f"My name is {name} and I am {age} years old") ---best way of writing

My name is Alice and I am 25 years old

In [11]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

#is not allowed equality operator

Lists are equal

In [16]:
#9.
for i in range(5, 1,-1):
    print(i)

#-1 step needed for negative decrement

5
4
3
2

In [18]:
#10.
student = {"name": "John", "age": 20}
print(student["name"])
#key value must have ""

John